{% extends 'base.html.twig' %}

{% block title %}
	| Catégories
{% endblock %}


{% block body %}

	{% include "partials/_header.html.twig" %}

	<div class="container">

        <h1 class="text-center mt-4">Toutes les categories</h1>

		<div class="countbadge d-flex justify-content-between">
			<h5>
				Il y a au total
				{{ categories.getTotalItemCount }}
				catégories.
			</h5>
			<button class="btn btn-primary" type="submit">
				<a class="nav-link" href="/category/newCategory">Créer une catégorie</a>
			</button>
		</div>



        {% for category in categories %}

		<div class="d-flex justify-content-center mt-5">
			<table class="table-primary ">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nom</th>
						<th scope="col">Nombre de produits</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"></th>
						<td>{{ category.id }}</td>
						<td>{{ category.categoryName }}</td>
					</tr>
				</tbody>
			</table>
		</div>

        {% endfor %}

		<button class="btn btn-primary" type="submit">Créer une categorie</button>

	</div>

{% endblock %}
