{% extends "base.html.twig" %}

{% block body %}

    {% include "partials/_header.html.twig" %}

    <div class="container">

        <h1 class="mt-5">Création d'une nouvelle catégorie</h1>

        {{ form(form) }}

    </div>

{% endblock %}


