{% extends 'base.html.twig' %}

{% block title %} | Accueil{% endblock %}

{% block body %}

    {% include "partials/_header.html.twig" %}
        <div class="container mt-4">
            <div class="jumbotron jumbotron-fluid text-center">
                <div class="container">
                    <h1 class="display-4">Bienvenue chez Breif One</h1>
                    <p class="lead">Breif One est un site internet qui vous propose la vente <br> de produits cosmétiques bio et naturels de petits artisans français</p>
                    <p class="lead mt-5">Notre adresse <br> 9 rue du centre 75000 Paris<br> Contactez nous au 01 02 03 04 05</p>
                </div>
            </div>
        </div>

{% endblock %}
